.header-form {
    width: 100%;
    height: 122px;
    display: flex;
    background-color: var(--main-white);

    .header-navbar {
        width: 100%;
        @include flex-center(space-between, center);
        padding: 0px 150px;

        .header-navbar-right {
            display: flex;
            align-items: center;

            .header-logo {
                width: 61px;
                height: auto;
            }

            .header-logo-name {
                font-size: 20px;
                font-weight: 700;
            }
        }

        .header-navbar-left {
            width: 35%;
            @include flex-center(space-between, center);
            margin-left: 100px;

            .header-custom-page {
                @include flex-center(space-between, center);

                .header-btn-top {
                    margin-right: 20px;
                    padding: 5px 10px;
                    font-size: 15px;
                    background-color: var(--btn-header);
                    color: var(--main-white);
                    border-radius: 3px;
                }

                .header-btn-create {
                    font-size: 15px;
                }
            }

            .header-user {
                @include flex-center(space-between, center);

                .header-user-name {
                    margin-right: 15px;
                    font-size: 15px;
                }

                .header-user-avatar {
                    width: 26px;
                    height: auto;
                }
            }
        }
    }

    .header-mobile {
        display: none;
    }
}
